<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <script src="//d3js.org/d3.v3.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css" />
    <link rel="stylesheet" href="static/base.css" />

</head>
<body>
    <h1>CAPS index</h1>
    <div class="container">
        <div class="row">
            <div class="column" id="map">
            </div>
            <div class="column" id="controls">
                <p>Last clicked: <span id="output_tile_name"></span></p>
            </div>
        </div>
    </div>
    <script>

        // import
        d3.xml("static/map.svg", "image/svg+xml", function(error, xml) {
            if (error) throw error;

            // svg into dom
            var div_map = document.getElementById("map")
            var importedNode = document.importNode(xml.documentElement, true)
            div_map.appendChild(importedNode)

            // svg w/h on page
            var w = 400;
            var h = 600;

            // select svg for d3
            var svg = d3.select("svg")
                .attr("width", w)
                .attr("height", h)

            // init output
            output_tile_name()

            // give hover feedback
            var polygons = d3.selectAll("polygon")
                .on('mouseover', function(d){
                    d3.select(this).classed("active", true)
                })
                .on('mouseout', function(d) {
                    d3.select(this).classed("active", false)
                })
                .on('click', function(d) {
                    var parent_id  = d3.select(this.parentNode).attr("id")
                    var polygon_id = d3.select(this).attr("id")
                    output_tile_name(parent_id + "-" + polygon_id)
                })
        })

        function output_tile_name(value) {
            // default
            var value = typeof value !== 'undefined' ? value : "None."

            // get control, set output
            var output = d3.select('#output_tile_name')
            output.html(value)
        }

    </script>
</body>
</html>
